<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registro de Estudiantes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>

    <body>
        <div class="container mt-5">
            <nav class="navbar navbar-dark bg-dark fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/representante">Matemágicas</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Matemágicas</h5>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/representante">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/perfil">Perfil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Cerrar Sesión</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="row justify-content-center">
                <!-- Columna de Registro de Estudiantes -->
                <div class="col-md-6">
                    <div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}"></div>
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title text-center">Registrar Estudiante</h1>
                            <!-- Formulario de Registro de Estudiantes -->
                            <form th:action="@{/guardar-estudiante}" method="post">
                                <div class="mb-3">
                                    <label for="nombre" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre"
                                           placeholder="Ingresa el nombre del estudiante" required>
                                </div>
                                <div class="mb-3">
                                    <label for="apellido" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" id="apellido" name="apellido"
                                           placeholder="Ingresa el apellido del estudiante" required>
                                </div>
                                <div class="mb-3">
                                    <label for="fechadenacimiento" class="form-label">Fecha de nacimiento</label>
                                    <input type="date" class="form-control" id="fechadenacimiento"
                                           name="fechadenacimiento" required>
                                </div>
                                <div class="mb-3">
                                    <label for="correoelectronico" class="form-label">Correo electrónico</label>
                                    <input type="email" class="form-control" id="correoelectronico"
                                           name="correoelectronico" placeholder="Ingresa el correo electrónico del estudiante" required>
                                </div>
                                <div class="mb-3">
                                    <label for="contrasenia" class="form-label">Contraseña</label>
                                    <input type="password" class="form-control" id="contrasenia" name="contrasenia"
                                           placeholder="Ingresa la contraseña del estudiante" required>
                                </div>
                                <button type="submit" class="btn btn-dark btn-block">Registrar Estudiante</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Columna de Estudiantes Registrados -->
                <div class="col-md-6">
                    <h1 class="card-title text-center">Estudiantes Registrados</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Correo Electrónico</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Utiliza Thymeleaf para iterar sobre la lista de estudiantes registrados -->
                            <tr th:each="estudiante : ${estudiantes}">
                                <td th:text="${estudiante.nombre}"></td>
                                <td th:text="${estudiante.apellido}"></td>
                                <td th:text="${estudiante.correoelectronico}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    </body>
</html>
